/*==============Rules for Slider=============*/
.slider {
    width:100%;
    height:auto;
    position:relative;
    
}

.slider .slide {
    height:500px;
    float:left;
    background-repeat:no-repeat;
    background-size:cover;
    background-size-x:contain;
    background-position-x:center;
    background-position-y:100%;
    transition: background-position 0s, height 0.5s;
}



.slider .slides .inner>div:nth-child(1) {
    background-image:url(images/slider/slide0.jpg);
}

.slider .slides .inner>div:nth-child(2){
      background-image:url(images/slider/slide1.jpg);
}

.slider .slides .inner>div:nth-child(3) {
      background-image:url(images/slider/slide2.jpg);
}

.slider .slides .inner>div:nth-child(4) {
     background-image:url(images/slider/slide3.jpg);
}

.slider .slides .inner {
    width:400%;
    line-height:0;
}

.slider .slides .slide {
    width:25%;
    margin:0;
}

.slider .overflow {
    width:100%;
    overflow:hidden;
}

.slider * {
    padding:0px;
    margin:0px;
}

.slider .slideControl {
    z-index:10000;
}

.slider #sliderControls {
    margin:auto;
    display:table;
    width:auto;
    height:auto;
    position:relative;
}



.slider #container {
    width:100%;
    position:absolute;
    bottom:0px;
}

.slider #container ul#sliderControls li{
    cursor:pointer;
    cursor:hand;
    width:15px;
    height:15px;
    background-color:rgba(127, 77, 53, 0.68);
    display:inline-block;
    border-radius:50%;
    margin:2px;
}
.slider #container ul#sliderControls li.selected{
    
    background-color:#feb674;
    box-shadow: 0px 0px 8px black;
}

.slider .slides .slide #caption {
    border:1px solid #DDD;
    padding:0px;
    margin:0px;
    font-family: "Walkway Bold";
    line-height: 1em;
    font-size:2em;
    width:0px;
    height:100%;
    max-width:60%;
    min-width: 200px;
    background-color:rgba(255, 255, 255, 0.62);
    position:relative;
    top:0px;
    left: 0px;
    opacity:0;
    box-shadow:0px 0px 8px black;
}

.slider .slides .slide #caption div{
    padding:20px;
    padding-top:100px;
    text-shadow: 0px -1px 0px #d4d4d4;
    color:black;

}


/*==============End of rules for Slider=============*/
