/* 

Dark: #7f4d35
Light: #feb674
*/

@font-face{
    font-family:title font;
    src: url("fonts/OptimusPrinceps.ttf");
    
}

@font-face{
    font-family:"Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
}

@font-face{
    font-family:"Open Sans Light";
    src: url("fonts/OpenSans-Light.ttf");
}
@font-face{
    font-family:"Open Sans Bold";
    src: url("fonts/OpenSans-Bold.ttf");
}

*{
    font-family:"Open Sans";
/*    border:1px solid red;*/
}

html, body{
    width:100%;
    height:100%;
    min-height:100%;
    max-height:100%;
    background-color:#f9f9f9;
/*    background-color:262626;*/
    margin:0px;
    padding:0px;
    text-align:center;
    
}

#loginForm *{
    -webkit-user-select:none;
}

.icon{
    font-family:Icons;
}

.theme{
    border:1px solid white;
    border-bottom: #e5e5e5;
    outline:1px solid #c0c0c0;
    background-color:#f9f9f9;
}

#loginForm {
/*    padding: 20px;*/
    position:absolute;
    display:block;
    margin:0 auto;
    height:150px;
    width:260px;
    
    top:50%;
    left:50%;
    margin-left:-170px;
    margin-top:-105px;
    
    padding:40px;
    padding-top:15px;
/*    background-color:#464646;*/
}

#loginForm>span{
    font-size:1.2em;
    display:block;
    padding:15px;
    height:20px;
/*    border:1px solid red;*/
    position:relative;
    top:-7px;
}

#loginForm img{
    width:100%;
    display:block;
    height:7px;
    left:0px;
}

#loginForm img#bottom {
    position:absolute;
    bottom:-7px;
    left:0px;
}


#loginForm .field {
    height:auto;
    width:100%;
    text-align:left;
    
    background-color:#f9f9f9;
    margin:10px 0px;
    position:relative;
}

#loginForm .field div input{
    width:100%;
}
#loginForm .field div{
    float:left;
}

#loginForm .field div:nth-child(1){
    width:40%;
}
#loginForm .field div:nth-child(2){
    width:60%;
}

#loginForm .field div{
    display:inline-block;
}

#loginForm .field input{
    font-size:0.8em;
}

#loginForm #bottomBar {
    height:35px;
    width:100%;
    position:relative;
    display:inline-block;
    padding-top:3px;
/*    border:1px solid red;*/
}

#loginForm #loginButton {
    
    display:inline-block;
    padding: 0px;
    position:absolute;
    right:0px;
    width:auto;
    height:auto;
    
    
    cursor:pointer;
    cursor:hand;
    margin:0px;
	padding:10px 20px !important;
	font-size:14px !important;
	font-weight:bold;
	color:#2d525d;
    
}

#loginForm #loginButton input{
    cursor:pointer;
    cursor:hand;
    margin:0px;
	padding:10px 20px !important;
	font-size:14px !important;
	font-weight:bold;
	color:#2d525d;
    
}

#loginForm #bottomBar #keep {
    font-size:0.7em;
    position:absolute;
    left:0px;
    bottom:0px;
}

#loginForm #notifications {
    color:red;
    position:absolute;
    font-size:0.8em;
    bottom:-30px;
    width:100%;
    left:0px;
}

#dashboard{
    width:100%;
    height:100%;
    display:table;
    margin:0px;
    padding:0px;
}

#navPane {
    padding:0px;
    margin:0px;
    width:200px;
    height:100%;
    list-style:none;
    background-color: #303030;
    display:inline-block;
    border-right:1px solid black;
/*    float:left;*/
    display:table-cell;
}

#navPane *{
    -webkit-user-select:none;
}

#navPane>li:nth-child(1){
    height:100px;
    font-size:130px;
    line-height:100px;
    text-align:center;
}


#navPane>li:nth-child(2){
    height:20px;
    line-height:20px;
    text-align:center;
}

#navPane>li{
/*    display:table-cell;*/
    height:50px;
    line-height:50px;
    text-align:right;
    float:left;
    cursor:pointer;
    cursor:hand;
    color:#acacac;
    margin:0px;
    padding:5%;
    width:90%;

    border-top: 1px solid #464646;
    border-bottom: 1px solid black;
    text-shadow: 0px -1px 0px black;
}


#navPane>li>a
{
    width: 100%;
    height: 100%;
    display: block;
    text-decoration:none;
    color:#acacac;
}

#navPane>li:hover{
    background-color:#262626;
    box-shadow:inset 0px 0px 4px black;
    border:none;
    text-shadow: none;
}

#navPane>li>span.icon{
 
    font-size:30px;
}

#contentPane {
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    background-color: #303030;
    float:left;
    display:block;
    border-left:1px solid #464646;
    overflow:hidden;
    position: relative;
}

#contentPane #selfCentered{
    margin: auto;
    position: absolute;
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    width: 80%;
    height: 300px;
}

#contentPane #tablizer>#inner{
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 20px;
}


.style-inset {
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
    box-shadow:inset 0px 0px 4px black;
    
    border-bottom:1px solid rgba(255,255,255,0.15);
    border-top:1px solid rgba(0,0,0,0.5);
}

#graph *{
    transition: 0.5s;
}

#graph{
    height: 90%;
    width: 90%;
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

#graph>ul {
    
    list-style: none;
    display: block;
    height: 100%;
    margin: 0px 10px;
    padding: 0px;
}

#graph>ul>li{
/*    margin: 0px 2px;*/
    top: 10%;
    width: 14.2857%;
    height: 90%;
/*    position: absolute;*/
/*    bottom: 0px;*/
/*    display: inline-block;*/
    float: left;
    position: relative;
    text-align: center;
}

#graph>ul>li>div{
    
    bottom: 5px;
    height: 100%;
    position: absolute;
    background-color: #0DD;
    width: 90%;
    left: 5%;
    border-radius: 2px 2px 0px 0px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
/*    box-shadow: 0px -8px 0px #258686;*/
    
    border-top: 1px solid rgba(255,255,255,0.7);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    
/*    overflow: hidden;*/
}

#graph>ul>li>span#label{
    bottom: -25px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0px;
    color: gray;
    text-shadow:0px -1px 0px black;
    font-size: 0.6em;
}

#graph>ul>li>div>span#value{
    top: -24px;
    position: relative;
    color: #0DD;
    font-size: 0.8em;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}


#values {
    display: inline-block;
    width: 8%;
    height: 90%;
    float: left;
    top: -15px;
    position: relative;
    text-align: right;
    padding: 0px 1%;
    padding-bottom: 10%;
    color: gray;
    text-shadow:0px -1px 0px black;
    text-align: bottom;
    list-style: none;
}

#values>li {
    margin: 20px 0px;
}

#ranges {
    margin-top: 20px;
    width: 90%;
    height: 10%;
    display: inline-block;
}

#ranges #statRange{
    width: 100%;
}

#selfCentered #perMonth {
/*    background-color: blue;*/
    height: 80px;
    margin-left: 10%;
    margin-bottom: 10px;
    margin-top: -100px;
    position: relative;
    background-color: transparent;
}

#selfCentered #perMonth ul li{
    position: relative;
}

#selfCentered #perMonth ul li #label {
    width: 100%;
    bottom: 0px;
    position: absolute;
    left: 0px;
    font-size: 0.7em;
}


#selfCentered #perMonth ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100%;
    position: relative;
}

#selfCentered #perMonth ul>li{
    float: left;
    width: 30px;
    height: 100%;
    margin: 0px 2px;
    background-color: blue;
}



